In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\patpe\desktop\henry\pi\fastapi\fastapi-env\lib\site-packages (2.0.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\patpe\desktop\henry\pi\fastapi\fastapi-env\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\patpe\desktop\henry\pi\fastapi\fastapi-env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\patpe\desktop\henry\pi\fastapi\fastapi-env\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\patpe\desktop\henry\pi\fastapi\fastapi-env\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\patpe\desktop\henry\pi\fastapi\fastapi-env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\patpe\Desktop\Henry\PI\PI_ML_OPS\base_peliculas_1.csv")

Película (sólo película, no serie, ni documentales, etc) con mayor duración según año, plataforma y tipo de duración. La función debe llamarse get_max_duration(year, platform, duration_type) y debe devolver sólo el string del nombre de la película.

In [5]:

def get_provider(show_id):
    if show_id.startswith('a'):
        return 'amazon'
    elif show_id.startswith('n'):
        return 'netflix'
    elif show_id.startswith('d'):
        return 'disney'
    else:
        return 'hulu'

In [6]:
df['platform'] = df['show_id'].apply(get_provider)

In [7]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type.,platform
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,amazon
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min,amazon
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min,amazon
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69,min,amazon
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min,amazon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,ns8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",158,min,netflix
22994,ns8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",2,season,netflix
22995,ns8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,88,min,netflix
22996,ns8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",88,min,netflix
22997,ns8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min,netflix

In [8]:
def get_max_duration(year, platform, duration_type):

    # Seleccionar las filas correspondientes a los parámetros de entrada
    filtered_df = df[(df['release_year'] == year) & (df['platform'] == platform) & (df['duration_type.'] == duration_type)]

    # Obtener el índice de la fila con la duración máxima
    max_duration_index = filtered_df['duration_int'].idxmax()

    # Obtener el valor de la columna "show_id" correspondiente a la fila con la duración máxima
    title = filtered_df.loc[max_duration_index, 'title']

    return title

In [9]:
get_max_duration(2021, "amazon", "min")

'enclosed'

In [10]:
df_rating = pd.read_csv(r"C:\Users\patpe\Desktop\Henry\PI\FastApi\rating_mean")

In [11]:
df_rating

      show_id  rating_mean
0         as1     3.467131
1        as10     3.439571
2       as100     3.609302
3      as1000     3.556701
4      as1001     3.585288
...       ...          ...
22993   ns995     3.515625
22994   ns996     3.626518
22995   ns997     3.530526
22996   ns998     3.582645
22997   ns999     3.494781

[22998 rows x 2 columns]

In [12]:
df_merged = pd.merge(df, df_rating, on='show_id')

In [13]:
df_merged

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type.,platform,rating_mean
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,amazon,3.467131
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min,amazon,3.548682
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min,amazon,3.500000
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69,min,amazon,3.538055
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min,amazon,3.478992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,ns8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",158,min,netflix,3.438998
22994,ns8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",2,season,netflix,3.515947
22995,ns8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,88,min,netflix,3.420945
22996,ns8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",88,min,netflix,3.588050
22997,ns8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min,netflix,3.529228

In [14]:
df=df_merged

In [15]:

count_documentary = df['description'].fillna('').str.count('documentary').sum()
count_documentary

621

In [16]:
count_documentary = df['listed_in'].fillna('').str.count('documentary').sum()
count_documentary

1167

In [17]:
df.rename(columns={'rating_mean': 'scored'}, inplace=True)

In [18]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type.,platform,scored
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,amazon,3.467131
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min,amazon,3.548682
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min,amazon,3.500000
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69,min,amazon,3.538055
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min,amazon,3.478992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,ns8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",158,min,netflix,3.438998
22994,ns8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",2,season,netflix,3.515947
22995,ns8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,88,min,netflix,3.420945
22996,ns8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",88,min,netflix,3.588050
22997,ns8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min,netflix,3.529228

Número total de comas en la columna country: 2858.0

In [19]:
def get_score_count(platform, scored, year):
    # Seleccionar los registros que corresponden al año y al puntaje especificado
    df_filtered = df.loc[(df['release_year'] == year) & (df['scored'] > scored)]
    
    # Filtrar los registros para obtener solo las películas
    df_movies = df_filtered.loc[df['type'] == 'movie']
    
    # Filtrar los registros para obtener solo las películas que no son documentales
    df_no_doc = df_movies[~df_movies['listed_in'].str.contains('documentary', regex=False)]
    
    # Filtrar los registros para obtener solo las películas que se encuentran en la plataforma especificada
    df_platform = df_no_doc.loc[df['platform'] == platform]
    
    # Contar el número de registros que cumplen los criterios anteriores
    count = len(df_platform)
    
    return count

In [20]:
get_score_count("amazon", 3.5, 2019)

478

In [21]:
def get_score_count(platform, scored, year):
    # Seleccionar los registros que corresponden al año y al puntaje especificado
    df_filtered = df.loc[(df['release_year'] == year) & (df['scored'] > scored)]
    
    # Filtrar los registros para obtener solo las películas
    df_movies = df_filtered.loc[df['type'] == 'movie']
    

    
    # Filtrar los registros para obtener solo las películas que se encuentran en la plataforma especificada
    df_platform = df_movies.loc[df['platform'] == platform]
    
    # Contar el número de registros que cumplen los criterios anteriores
    count = len(df_platform)
    
    return count

In [22]:
df.to_csv('df_complete', index=False)

Cantidad de películas (sólo películas, no series, ni documentales, etc) según plataforma. La función debe llamarse get_count_platform(platform) y debe devolver un int, con el número total de películas de esa plataforma. Las plataformas deben llamarse amazon, netflix, hulu, disney.

In [23]:
def get_count_platform(platform):
   
    # Filtrar los registros para obtener solo las películas
    df_movies = df.loc[df['type'] == 'movie']
    
    # Filtrar los registros para obtener solo las películas que no son documentales
    df_no_doc = df_movies[~df_movies['listed_in'].str.contains('documentary', regex=False)]
    
    # Filtrar los registros para obtener solo las películas que se encuentran en la plataforma especificada
    df_platform = df_no_doc.loc[df['platform'] == platform]
    
    # Contar el número de registros que cumplen los criterios anteriores
    count = len(df_platform)
    
    return int(count)

In [24]:
get_count_platform("amazon")

7135

In [25]:
def get_actor(platform, year):
    # Seleccionar los registros que corresponden a la plataforma y al año especificado
    df_filtered = df.loc[(df['platform'] == platform) & (df['release_year'] == year)]

    # Eliminar las filas con valores nulos en la columna "cast"
    df_filtered = df_filtered.dropna(subset=['cast'])
    
    # Separar los nombres de los actores en listas de strings
    actor_lists = df_filtered['cast'].str.split(', ')
    
    # Crear un diccionario que mapea cada actor con su frecuencia de aparición
    actor_freq = {}
    for actor_list in actor_lists:
        for actor in actor_list:
            if actor in actor_freq:
                actor_freq[actor] += 1
            else:
                actor_freq[actor] = 1
    
    # Obtener el nombre del actor que más se repite
    top_actor = max(actor_freq, key=actor_freq.get)
    
    return top_actor

In [26]:
get_actor("amazon", 2016)

'anne-marie newland'

In [27]:
df.type.value_counts()

type
movie      16481
tv show     6517
Name: count, dtype: int64

La cantidad de contenidos/productos (todo lo disponible en streaming) que se publicó por país y año. La función debe llamarse prod_per_county(tipo,pais,anio) deberia devolver el tipo de contenido (pelicula,serie) por pais y año en un diccionario con las variables llamadas 'pais' (nombre del pais), 'anio' (año), 'pelicula' (tipo de contenido).

In [28]:
def prod_per_country(tipo, pais, anio, df):
    prod_dict = {'pais': pais, 'anio': anio, 'pelicula': tipo}
    count = df[(df['type'] == tipo) & (df['country'] == pais) & (df['release_year'] == anio)]['show_id'].nunique()
    prod_dict[tipo] = count
    return prod_dict

In [30]:
def get_contents(rating: str):     
    # Controlamos que el rating ingresado sea correcto     
    rating = rating.lower()     
    ratings = ["g", "pg", "pg-13", "r", "tv-ma"]     
    if rating not in ratings:         
        return ("Rating incorrecto! Debe ingresar uno de los siguientes: g, pg, pg-13, r, tv-ma")         
    # Filtrar las películas para el rating especificado     
    df_filtered = df[(df.rating == rating)]          
    # Agrupar por rating y contar el número de filas resultantes     
    count = df_filtered.groupby('rating').size()          
    # Verificar que hay al menos una película que cumpla con los filtros     
    if df_filtered.empty:         
        return("No hay peliculas para ese rating")     
    return count.to_dict()

In [37]:
get_contents("r")

{'r': 2154}

In [38]:
df.rating.value_counts()

rating
tv-ma      3675
tv-14      3138
r          2154
13+        2117
tv-pg      1654
           ...
119 min       1
115 min       1
136 min       1
61 min        1
129 min       1
Name: count, Length: 105, dtype: int64

In [51]:
def prod_per_county(tipo: str, pais: str, anio: int):
    df_filtered = df.loc[(df['type'] == tipo) & (df['country'] == pais) & (df['release_year'] == anio)]
    cantidad = df_filtered["show_id"].nunique()
    return {'pais': pais, 'anio': anio, 'peliculas': cantidad}

In [55]:
prod_per_county("movie", "united states", 2019)

{'pais': 'united states', 'anio': 2019, 'peliculas': 435}

In [54]:
def prod_per_county(tipo: str, pais: str, anio: int):
    df_filtered = df.loc[(df['type'] == tipo) & (df['country'].str.contains(pais)) & (df['release_year'] == anio)]
    cantidad = df_filtered["show_id"].nunique()
    return {'pais': pais, 'anio': anio, 'peliculas': cantidad}

In [ ]:
df['columna'].str.contains('Argentina')